name: Terragrunt Plan & Apply

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Git branch to use'
        required: true
        default: 'main'
      environment:
        description: 'Environment (dev or prod)'
        required: true
        default: 'dev'
      action:
        description: 'Action to perform (plan or apply)'
        required: true
        default: 'plan'
        type: choice
        options:
          - plan
          - apply

jobs:
  terragrunt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout selected branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Set up AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Install Terragrunt
        run: |
          wget https://github.com/gruntwork-io/terragrunt/releases/download/v0.56.3/terragrunt_linux_amd64
          chmod +x terragrunt_linux_amd64
          sudo mv terragrunt_linux_amd64 /usr/local/bin/terragrunt

      - name: Terragrunt Plan/Apply
        run: |
          cd live/${{ github.event.inputs.environment }}
          if [ "${{ github.event.inputs.action }}" = "plan" ]; then
            terragrunt plan
          else
            terragrunt apply -auto-approve
          fi
